*{
    text-transform: uppercase;
    font-weight: bold;
}
body{
    background: #0f0f0f;
    animation: body;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
.container{
    width: 70%;
    background: #ff1515;
    height: ;
    margin: auto;
    background-size: ;
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 100;
    box-shadow: 2px 2px 7px white;
    border-radius:0 50px 50px 50px;
}

h1{
    color: white;
    animation: head;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: ;
    animation-timing-function: ease-out;
}


@keyframes head{
   0%{color: white;}
   100%{color: #ff1515;}
}
@keyframes body{
    0%{
        background-color: black;
    }
    90%{background-color: black;}
    o5%{background-color: grey;}
    100%{
        background-color: white;
    }
}
@keyframes abute{
    0%{width: 0px; height: 0px;}
    100%{width: 100px; height: 100px;}
}
.absolute{
    width: 0px;
    height: 0px;
    border-radius: 0 50% 50% 50% ;
    background-color: #ff1515;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    margin-right: ;
    box-shadow: 2px 2px 10px white;
    animation: abute;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
label{
    font-size: 20px;
    text-align: center;
}
input[type="text"]{
    width: 20%;
    height: 50px;
    margin: 10px auto;
    outline: none;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    display: block;
    
}
   #res{
    display: none;
    margin: inherit;
    width: 50%;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    }
#btn{
    display: block;
    margin: inherit;
    width: 50%;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
#res{
    display: none;
    margin: 15px auto;
}
#btn:active{
    background: black;
    color: white;
}
#res:active{
    background: greenyellow;
    color: white;
}
